<div class="map-form">
  <div class="jumbotron">
    <div class="container">
      <hr class="my-4">
      <div class="form-group">
        <input type="text" [formControl]="searchInput" placeholder="Address" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control"
          #locationSearch (focusout)="getPlace()">
        <input type="text" disabled readonly placeholder="Latitude" class="form-control" [value]="latitude">
        <input type="text" disabled readonly placeholder="Longitude" class="form-control" [value]="longitude">
        <div class="alert alert-danger" *ngIf="shouldShowAlert()" role="alert">
          No location found, please try a different address {{searchInput.valid}}
        </div>
      </div>
    </div>
  </div>
</div>
